.git
.github
.cursor
.codebuddy
.DS_Store

node_modules
server/node_modules
web/node_modules

server/dist
web/dist
data
generated-images

.env
.env.local
.env.production

docs
start.sh
start.bat

*.log
npm-debug.log*
pnpm-debug.log*
